@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');


:root {
  --headings-font: "Handlee", cursive;
  --primary-color: white;
  --light-grey-color:wheat;
  --dark-color: rgb(46, 46, 46);
  --another-color:red;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

p {
  line-height: 1.5rem;
  padding: 0.5rem 0rem;
}

h1,
h2,
h3 {
  font-family: "Poppins", sans-serif;
}

.container {
  max-width: 1100px;
  padding: 0px 20px;
  margin: auto;
}

body {
  background-color: var(--light-grey-color);
}

nav {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: white;
}

nav .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin: 10px 0px;
}

.header h1,
.header h1 span {
  font-family: var(--headings-font);
  font-size: 1.8rem;
}

.header i,
.header span {
  color: var(--primary-color);
}

.social {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 0.4rem;
}

.social i {
  color: var(--dark-color);
}

.social i:hover {
  color: var(--another-color);
}

.options a {
  text-decoration: none;
  padding: 10px 15px;
  font-size: 1.05rem;
  font-weight: 400;
  color: black;
  letter-spacing: 1px;
  float: left;
}

.options a:hover {
  background-color: var(--light-grey-color);
  color: black !important;
}

.current {
  background-color: var(--primary-color);
  color: black !important;
}

.editor-h1 {
  font-size: 1.6rem;
  margin: 1rem 0rem;
  letter-spacing: 1px;
}

.articles {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1rem;
}

.articles > a:nth-child(1),
.articles > a:last-child {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
  grid-column: 1 / span 2;
  align-items: center;
}

.articles > a:last-child {
  grid-column: 2 / span 2;
}

.articles > a:nth-child(2) {
  background-color: var(--dark-color);
  color: white;
}

.articles > a:nth-child(6) {
  background-color: var(--primary-color);
  color: white;
}

.card {
  background-color: white;
  padding: 1rem;
  text-decoration: none;
  color: black;
}

.card:hover {
  box-shadow: 3px 5px 10px rgb(199, 199, 199);
}

footer {
  background-color: var(--dark-color);
  color: white;
  height: 100%;
  padding: 2rem 0rem;
  margin-top: 1rem;
}

.footer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1.5rem;
}

/* .footer h4 {
  margin-bottom: 1rem;
}
*/

.footer p {
  font-size: 0.95rem;
  text-align: left;
}

.footer .header {
  margin: 0rem;
  margin-bottom: 1rem;
}

.footer article:nth-child(3) p {
  border-bottom: 1px dotted rgb(82, 82, 82);
}



.footer article:nth-child(2) a {
  display: block;
  text-decoration: none;
  color: white;
  text-align: center;
  padding: 0.5rem;
  background-color: var(--primary-color);
}

.footer article:last-child a {
  display: inline-block;
  text-decoration: none;
  color: white;
  text-align: center;
  padding: 0.6rem 0.8rem;
  background-color: orange;
  margin-top: 0.7rem;
}

.footer a:hover {
  background-color: var(--light-grey-color) !important;
  color: black !important;
}

.about {
  display: grid;
  grid-template-columns: 2.5fr 1fr;
  grid-gap: 1.5rem;
  margin: 4rem 0 1.7rem;
}

.about article {
  background-color: white;
  padding: 1rem;
}

.about article:first-child {
  grid-row: 1 / span 3;
}

.about article:first-child h2 {
  padding: 0.7rem 0rem;
  font-size: 1.7rem;
  font-weight: 900;
}

.about article:last-child {
  color: black;
  background-color: var(--primary-color);
}

.back-link {
  position: absolute;
  top: 70px;
  left: 20px;
  color: #000;
  font-weight: bold;
  text-decoration: none;
  font-size: 18px;
  padding: 5px 10px; 
  background-color: #f3f3f3; 
  border-radius: 5px; 
}

.back-link::before {
  content: "<--";
  margin-right: 5px;
}

@media screen and (min-width: 768px) {
  .about {
    grid-template-columns: 2.5fr 1fr;
  }

  

  .footer {
    grid-template-columns: repeat(4, 1fr);
  }
}







